.logo{
    width:50px;
    margin-right: 10px;
}

.mensajesocial{
    color: white;
    font-weight: bold;
}
.nosotros img{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.footer {
    background-color: #000;
}

p{
    text-align: justify;
}

#capa  img{
    max-height: 60vh;
    object-fit: cover;
}

#carousel{
    position: relative;
}

#carousel .overlay{
  position: absolute;
  top:0;
  bottom: 0;
  left:0 ;
  right: 0;
  background-color: rgba(0,0,0,.3);
  color: white;
  height: 100%;
}
#cont{
    height: 100%;
}